@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* universal styles */

 :root {
  /* line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(3, 3, 3, 0.87); */
  background-color: #ebe6dd;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
} 


a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-shadow: 2px 2px 2px rgba(0,0,0,0.45);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
}

h2 {
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
}

h3 {
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
}

/* Header styles */

.headerNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #EBE6DD;
}

ul  {
  display: flex;
  flex-direction: row;
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
}

li {
  text-decoration: none;
  list-style-type: none;
  padding: .5rem;
}

.liLink {
  color: black;
}

/* Footer styles */

.footer {
  position: relative; 
  bottom: 0;
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #EBE6DD;
}

.footerText {
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 30px;
  margin-right: 1rem;
}

.footerImg {
  margin: .2rem;
}

.footerImg:hover {
  filter: drop-shadow(0px 4px 4px rgb(50, 57, 61));
  transition-duration: .1s;
}

/* about styles */

.aboutBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
 }

.aboutInfoBox {
  background: #00B2AE;
  border: 5px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 2rem; */
  max-width: 500px;
}

.myFace {
  width: 15rem;
  height: 15rem;
  border: 5px solid black;
  border-radius: 50%;
  margin-top: 1.5rem;
}

.aboutInfo {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 33px;
  color: #000000;
  margin: 1.5rem;
  text-align: center;
}

/* education styles */

/* Education Styles */

.eduBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.education {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 92px;
  text-align: center;
  color: #000000;
}

.eduInfoBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.eduBox {
  background: #FAC546;
  border: 5px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 500px;
  min-height: 500px;

}

/* .schoolName {
  text-decoration: underline solid 5px #E24F32;
} */

.timePlace {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.eduInfo {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #000000;
  margin: .5rem;
  padding: .5rem;
  border-radius: 20px;
  background-color: #ffffff8f;
  max-width: 800px;
  border: solid 5px #E24F32;
}

.schoolLink {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  margin: 2rem;
}

/* .schoolLink:hover {
  color: #E24F32;
} */

/* Form Styles */

.myForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #6FB0BE;
  border: 5px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  height: auto;
  width: auto;
  padding: 4rem;
}

.labelInput {
  display: flex;
  flex-direction: column;
}

label {
  color: black;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 46px;
  margin-bottom: 1rem; 
  width: 100%;

}

.inPut {
  background-color: #F2E5CA;
  border: 5px solid #000000;
  color: black;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  height: 7vh;
  width: auto;
}

.inPut:hover {
  background-color:#bcd6db;
  transition-duration: .1s;
}

.textArea {
  background-color: #F2E5CA;
  border: 5px solid #000000;
  height: 20vh;
  width: auto;
  color: black;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.textArea:hover {
  background-color:#bcd6db;
  transition-duration: .1s;
}

.formBtn {
  background-color: #F2E5CA;
  border: 5px solid #000000;
  width: 200px;
  height: 75px;
  font-family: 'Roboto Mono';
  font-style: bold;
  font-weight: 700;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  color: black;
  align-self: center;
  border-radius: 20px;
  margin-top: 1rem;
}

.formBtn:hover {
  background-color:#bcd6db;
  color:  black;
  transition-duration: .1s;
}

.socialGroup {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem;
}

.social {
  color: #000000;
  height: 80px;
  width: 80px;
}

.socialBtnOne:hover {
  filter: drop-shadow(0px 4px 4px rgb(50, 57, 61));
  transition-duration: .1s;
}

.socialBtnTwo:hover {
  filter: drop-shadow(0px 4px 4px rgb(50, 57, 61));
  transition-duration: .1s;
}

/* Portfolio Styles */

.portBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portTitleBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem;
  align-self: flex-start;
}

.portfolio {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 92px;
  text-align: center;
  color: #000000;
}

.portInfoBox {
display: flex;
/* flex-direction: row; */
flex-wrap: wrap;
justify-content: center;
align-items: center;
margin: 2rem;
}

.portBox {
background: #C89005;
border: 5px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
margin: .5rem;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
max-width: 400px;

}

.webEx {
width: 335px;
height: 205px;
margin: .8rem;
margin-top: 2rem;
border: 2px solid black;
border-radius: 2%;
}

.webEx:hover {
  border: 2px solid white;
}

.content {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.projectName {
font-family: 'Roboto Mono';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 35px;
text-align: center;
color: #000000;
margin: .8rem;
}

.portInfo {
font-family: 'Roboto Mono';
font-style: normal;
font-weight: 400;
font-size: 17px; 
line-height: 23px;
text-align: center;
color: #000000;
margin-bottom: 1.3rem;
margin-left: 1.3rem;
margin-right: 1.3rem;
background-color: #ffffff68;
border-radius: 20px;
padding: .5rem;
}


/* Responsiveness */

@media screen and (max-width: 568px) {

  ul {
    font-size: 15px;
  }


}

